# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

#### **Objectives:**

- create and introduction of the notebook
- List popular languages for Data Science
- List commonly libraries used for Data Science
- examples of arithmetic expressions

#### Some of the popular languages that Data Scientist use:
1. python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientist include:

1. Scikit-learn
2. Numpy
3. Pandas
4. Seaborn
5. Matplotlib

| Data Science Tools|
|-------------------|
| My SQL|
| PostgreSQL |
| MongoDB |
| Apache CouchDB |

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to multiply then add integers 
(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60 
200/60

3.3333333333333335

## Author
Santiago Zuluaga

Author